.project-section {
  max-width: 1400px;
  height: 100vh;
  /* padding: 0 20vw; */
  /* padding: 10em; */
  display: flex;
  flex-direction: column;
}

.project-section h2 {
  height: fit-content;
  width: fit-content;
  max-width: 1400px;

  padding: 0.5em 1em;
  color: var(--text);
  font-size: 4em;
}

.project-container {
  flex-grow: 1;
  padding: 0.5em 1em;

  max-width: 1400px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5em;

  /* display: grid; */
  /* grid-template-columns: auto auto; */
  /* place-items: center; */

  /* border: 1px solid white; */
  /* border-radius: 0.5rem; */
}

.project {
  width: 40rem;
  height: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: 2px solid white;
  border-radius: 0.5rem;
}
