.project {
  width: 50rem;
  height: 30rem;
  margin-bottom: 6em;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5rem;

  background: rgb(360, 360, 360, 0.05);

  transition: all 200ms;
}
