.splash {
  width: 100vw;
  height: fit-content;
  padding-top: 12vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  h1,
  ul {
    animation:
      fade-in ease-in 900ms,
      move-up ease-out 1s;
  }

  h1 {
    font-size: 8em;
    border-bottom: 3px solid var(--text);
  }
}

.link-container {
  height: 9em;
  z-index: 100;

  padding: 2em;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1em;

  li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    transition: all 200ms;
  }

  a:focus {
    outline: none;
  }

  svg {
    width: 3em;
    height: 3em;
    fill: var(--base);
    transition: all 200ms;

    circle {
      fill: var(--text);
    }

    rect {
      fill: var(--text);
      border-radius: 1em;
    }
  }

  .name-link {
    position: relative;
    padding: 0.5em 1em;

    color: inherit;
    text-decoration: none;
    font-size: 1.25em;
    text-align: center;

    border: 1px solid var(--text);
    border-radius: 0.75rem;

    animation-iteration-count: 1;
  }
  .name-link:hover {
    color: var(--base);
    background-color: var(--text);
  }

  .name-link:focus {
    color: var(--base);
    background-color: var(--text);
  }

  .icon-link:hover {
    svg {
      fill: var(--text);
      circle,
      rect {
        fill: var(--base);
      }
    }
  }

  .icon-link:focus svg {
    fill: var(--base);
    circle,
    rect {
      fill: var(--text);
    }
  }

  .wave {
    position: absolute;
    place-self: center;
    width: 1em;
    height: 1em;
    padding: 1em;

    border-radius: 50%;
    pointer-events: none;
    border-width: thin;

    animation-fill-mode: forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(1px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes move-up {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes ripple {
  from {
    background: none;
    opacity: 1;
    border-radius: 50%;
    transform: scale(0);
    border: 0.1px solid var(--blue);
    border-width: thin;
  }
  to {
    background: none;
    border: 0.1px solid var(--blue);
    border-radius: 50%;
    transform: scale(10);
    opacity: 0;
    filter: blur(0.3px);
  }
}
