@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  /* Default values */

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #cdd6f4;
  /* background: var(--base); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /**
  *  Color Scheme
  */
  /* TODO: add these to plate for default color scheme */

  --crust: #11111b;
  --mantel: #181825;
  --base: #1e1e2e;

  --surface-0: #313244;
  --surface-1: #45475a;
  --surface-2: #585b70;

  --overlay-0: #6c7086;
  --overlay-1: #7f849c;
  --overlay-2: #9399b2;

  --subtext-0: #a6adc8;
  --subtext-1: #bac2de;
  --text: #cdd6f4;

  --lavender: #b4befe;
  --blue: #89b4fa;
  --sapphire: #74c7ec;
  --sky: #89dceb;
  --teal: #94e2d5;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --peach: #fab387;
  --maroon: #eba0ac;
  --red: #f38ba8;
  --mauve: #cba6f7;
  --pink: #f5c2e7;
  --flamingo: #f2cdcd;
  --rosewater: #f5e0dc;

  /* Other */
  --border-radius: 0.3em;

  /* For iphone status bar */
  --status-bar: var(--mantel);
}

@media (prefers-color-scheme: light) {
  :root {
    /* For iphone status bar */
    --status-bar: var(--overlay-2);
  }

  body {
    background: linear-gradient(var(--overlay-2), var(--text) 80%);
    color: var(--mantel);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  color: var(--crust);
  background: var(--lavender);
}

*::-moz-selection {
  color: var(--crust);
  background: var(--lavender);
}

html {
  min-height: 100%;

  background: linear-gradient(
    var(--mantel),
    var(--surface-0),
    var(--surface-2)
  );

  overscroll-behavior: none;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  html {
    background: inherit;
  }
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1800px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1400px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 6px;
  }
}
