@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Dark and Light mode palettes */

:root {
  --main: #83b7f1;
  --secondary: #36deff;
  --border: #000;
  --bg: #fff;
  --text: #000;
}

.dark {
  --main: #5a8fcc;
  /* --secondary: #ace246; */
  --border: #fff;
  --bg: #000;
  --text: #fff;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--text);
  border-color: var(--border);
  background-color: var(--bg);
  overflow: hidden;
}

#snapContainer {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

#snapContainer > * {
  scroll-snap-align: start;
}

/* neo brutalism styles */

.brutalButton {
  border: 2px solid;
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0.3em 0.3em 0px 0 var(--main);
  transition: transform, box-shadow;
  transition-duration: 200ms;
  transform: translate(0);
}

.brutalButton:hover {
  transform: translate(5%, 10%);
  box-shadow: 0 0 0px;
}

.brutalDropdown {
  border: 2px solid;
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0.3em 0.3em 0px 0 var(--secondary);
  transition: transform, box-shadow;
  transition-duration: 200ms;
  transform: translate(0);
}

.brutalDropdown:hover {
  transform: translate(5%, 10%);
  box-shadow: 0 0 0px;
}

/* Project Tiles bg-images */

.project-tile {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#project-1 {
  background-image: url("/projectScreenshots/tweeterScreenshot.png");
}

#project-2 {
  background-image: url("/projectScreenshots/readingforwardScreenshot.png");
}
